@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header {
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    background-color: #fafafa;
    z-index: 2;
    box-shadow: #0000002e 5px 0px 10px 0px;
}

.userH {
    justify-content: space-around;
}

header h2 {
    display: flex;
    align-items: center;
    color: #1e1e1e;
    font-size: 30px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

main {
    margin-top: 9vh;
}

.login-body {
    width: 100%;
    height: 100vh;
    background: url(../assets/bg-login.png) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00a6e8;
}

.login-page {
    width: 70%;
    height: 75%;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    /* border: #fafafa 2px solid; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.login-page .left {
    background: url(../assets/bg-login.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    color: #fafafa;
    padding: 60px;
    display: flex;
    background-color: #00a6e8;
    flex-direction: column;
}

.left h2 {
    letter-spacing: 1px;
    font-size: 70px;
    margin: auto 0px;
}

.left img {
    width: 64px;
}

.right {
    width: 50%;
    height: 100%;
    background-color: #fafafa;
    padding: 60px;
    color: #1e1e1e;
}

.title {
    font-size: 30px;
    margin-bottom: 5px;
}

.right p {
    color: #1e1e1e5f;
    width: 65%;
    margin-bottom: 60px;
}

.right form {
    display: flex;
    flex-direction: column;
}

.right form h4 {
    font-size: 24px;
    margin-bottom: 5px;
}

.right form label {
    width: 100%;
    margin-bottom: 30px;
}

.right form input {
    width: 100%;
    padding: 12px 10px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: #1e1e1e4c 1px solid;
}

.right form input:focus {
    box-shadow: #00a6e83f 0px 2px 8px 0px;
    border: #00a6e8 1px solid;
    transition: all ease 0.3s;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btns button {
    width: 47%;
    font-size: 18px;
    padding: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.btns button:first-child {
    border: #00a6e8 2px solid;
    background-color: transparent;
    color: #00a6e8;
    border-radius: 5px;
}

.btns button:last-child {
    border: #00a6e8 2px solid;
    background-color: #00a6e8;
    color: #fafafa;
    border-radius: 5px;
}

.btns button:first-child:hover,
.btns button:last-child:hover {
    box-shadow: #00a6e83f 0px 2px 8px 0px;
    transition: all ease 0.3s;
}

.right .sign {
    width: 100%;
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 0px;
    margin-top: 85px;
    font-size: 18px;
}

.sign a {
    color: #00a6e8;
}

div.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: #fafafa;
    padding: 50px;
    gap: 90px;
    background: url(../assets/bg.png) no-repeat;
    background-position: center;
    background-size: cover;

}

div.card {
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    width: 370px;
    height: 345px;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.card span {
    position: absolute;
    top: -12px;
    right: -12px;
    padding: 12px;
    background-color: #1e1e1e;
    border-radius: 200px;
    width: 50px;
    height: 50px;
    color: #fafafa;
    text-align: center;
    box-shadow: #00a6e83f 0px 2px 8px 0px;
}

.card h2 {
    font-size: 28px;
}

.card h4 {
    color: #00a6e8;
}

.desc {
    color: #1e1e1e7c;
}

.container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.container a {
    background-color: #00a6e83f;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 25px;
    color: #308BE6;
    text-decoration: none;
}

.card:nth-child(7) {
    display: none;
}

.actions {
    top: 15px;
    right: 45px;
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    display: none;
}

.delete {
    position: absolute;
    top: 20px;
    right: -20px;
    color: #FB2F2F;
    font-size: 18px;
}

.modify {
    font-size: 18px;
    color: #00a6e8;
}

.card:hover .actions {
    display: flex;
}